* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

header {
  background-image: url("image/header_about.jpg"); /* Replace with actual image link */
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  color: white;
  animation: fadeIn 2s ease-in-out;
}

.header-content h1 {
  font-size: 3rem;
  color: #0077cc;
}

.header-content p {
  font-size: 1.2rem;
  color: gray;
  text-align: center;
}

.mission,
.offerings,
.choose,
.get-involved {
  padding: 50px;
  background: #ffffff;
  margin: 20px auto;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: slideUp 1.5s ease-in-out;
}

h2 {
  color: #0077cc;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.offer-content {
  display: flex;
  justify-content: space-between;
}

.offer-content div {
  width: 30%;
}

.offer-content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.offer-content ul {
  list-style-type: none;
}

.offer-content ul li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.choose ul {
  list-style-type: square;
  padding-left: 20px;
}
.choose ul li {
  line-height: 40px;
}

/* ...............................................footer............................................................ */
/* Footer General Styles */
footer {
  background-color: rgb(27, 26, 26);
  color: white;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
  gap: 20px;
  justify-content: space-evenly;
  text-align: left;
}

.footer-section .division {
  width: 20%;
  /* Equal width for all divisions */
  min-width: 200px;
  /* Minimum width for smaller screens */
  height: 180px;
}

.footer-section h3 {
  font-size: 1.2rem;
  color: #00c2ff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  line-height: 25px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #00c2ff;
}

/* Social Icons */
.socials li {
  display: inline-block;
  margin-right: 10px;
}

.socials li a img {
  height: 24px;
  width: 24px;
  transition: transform 0.3s ease;
}

.socials li a img:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
